@import "tailwindcss";


@font-face {
  font-family: "Apple-Tea";
  src: url(../fonts/AppleTea.ttf) format("truetype");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-font: 'General Sans', sans-serif;
  --secondary-font: 'Yesteryear', cursive;
}
html{
  scroll-behavior: smooth;
}

body,
html {
  font-family: var(--primary-font);

}

.font2 {
  font-family: var(--secondary-font);
}

.font-btn {
  font-family: "Alfa Slab One", serif;
}

.apply-font {
  font-family: "Apple-Tea";

}

@keyframes marquee-loop {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-loop {
  will-change: transform;
  animation: marquee-loop linear infinite;
}

.circle_after {
  position: relative;
}

.circle_after::after {
  content: '';
  position: absolute;
  top: 0;
  left: -6px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
}

.perspective {
  perspective: 1000px;
}

.transform-style {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.product_card .radius_img img {
  height: 250px !important;
  border-radius: 10px 10px 50% 50%;
  object-position: center top;
}

.product_card .content_slide {
  display: none;

}

.product_card .swiper-slide-active .content_slide {
  display: block;
  border-radius: 0 0 10px 10px;

}

.product_card .swiper-wrapper {
  align-items: center;
  padding: 15px 0;
}

.product_card .swiper-slide-active {
  box-shadow: 0 0px 5px 3px rgb(0 0 0 / 38%);
}

/* .perspective {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
} */

/* .backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
} */

/* .rotate-y-180 {
  transform: rotateY(180deg);
} */
.flip_slider .swiper-slide {
  transform: scale(0.9);
}

.flip_slider .swiper-slide .perspective .transform-style {
  height: 314px;

}

.flip_slider .swiper-slide .perspective {
  display: flex;
  align-items: center;
}

.flip_slider .swiper-slide .perspective .transform-style p,
.flip_slider .swiper-slide .perspective .transform-style a {
  display: none;
}

.flip_slider .swiper-slide.swiper-slide-active {
  transform: scale(1.05);
}

.flip_slider .swiper-slide.swiper-slide-active .perspective .transform-style {
  height: 100%;

}

.flip_slider .swiper-slide.swiper-slide-active .perspective .transform-style p {
  display: block;
}

.flip_slider .swiper-slide.swiper-slide-active .perspective .transform-style button {
  display: inline-block;
  cursor: pointer;
}

.flip_slider .swiper-slide.swiper-slide-active .front_side h3 {
  font-size: 26px;
  color: #C3272B;
}

.flip_slider .swiper-slide.swiper-slide-active .front_side p {
  display: inline-block;
}

.middle_white_card .swiper-slide-active .radius_img .shadow-lg {
  background: #fff;
}

.card_group .rounded-lg:last-child {
  background: #F8AB1D;
  color: #000;
}

.card_group .rounded-lg:last-child img {
  filter: brightness(1) invert(1);
}

.back_side ul {
  list-style: disc;
  text-align: left;
}

.back_side ul li+li {
  margin-top: 5px;
}

.custom_header {
  position: sticky;
  top: 0;
  z-index: 999;
  background: #C3272B;
  /* transition: all 0.5s; */

}

.sticky_logo {
  /* display: none; */
  /* transition: all 0.5s; */
}

.custom_header .pt-4 {
  padding: 8px 6px;
}

.custom_header .sticky_logo {
  height: 80px;
  width: auto;
  object-fit: contain;
}

.custom_header .items-start {
  align-items: center;
}

.custom_header .rounded-3xl {
  background: #000;
}

@media (max-width:1200px) {
  .flip_slider .swiper-slide.swiper-slide-active .front_side h3 {
    font-size: 24px;
  }
}


@media (min-width:1200px) {
  .sticky_logo {
    margin-left: 18%;
  }
  .custom_header .sticky_logo{
    margin-left: 40%;
  }
}


@media (max-width:767px) {
  .sticky_logo {
    margin-top: 3rem;
  }

  .custom_header .sticky_logo {
    margin-top: 0;
  }

  header .self-baseline {
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-horizontal{
    padding: 8px !important;
  }
}